<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RjRegalado.EncryptionHelper.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <RjRegalado.EncryptionHelper.UI.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value>./Certificates/EncryptByCertificate/public.crt</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>./Certificates/EncryptByCertificate/cert.pfx</value>
            </setting>
            <setting name="PassPhrase" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="InputText" serializeAs="String">
                <value>Hello, World!</value>
            </setting>
            <setting name="Iv" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SelectedOperation" serializeAs="String">
                <value/>
            </setting>
        </RjRegalado.EncryptionHelper.UI.Properties.Settings>
    </userSettings>
</configuration>
